<%- include('./layout/header') %>
<div class="container">
    <div class="row">
        <div class="col-12">
            <% if (message) { %>
            <div
                class="alert alert-dismissible fade show alert-<%= message.type %>"
                role="alert"
            >
                <button
                    class="btn-close"
                    type="button"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                ></button>
                <Strong><%= message.message %></Strong>
            </div>
            <% } %>
        </div>
    </div>

    <div class="row my-4">
        <table class="table table-striped">
            <thead class="thead">
                <tr class="table-dark">
                    <th scope="col">ID</th>
                    <th scope="col">Profile Photo</th>
                    <th scope="col">Frist Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% if (users) { %> <% users.forEach((el,index) => { %>
                <tr>
                    <td><%= index %></td>
                    <td>
                        <img
                            src="<%= el.image %>"
                            alt="prfile photo"
                            width="50"
                            class="img-thumbnail"
                            srcset=""
                        />
                    </td>
                    <td><%= el.firstname %></td>
                    <td><%= el.lastname %></td>
                    <td><%= el.email %></td>
                    <td><%= el.phonenumber %></td>
                    <td>
                        <a class="" href="/user/<%= el._id %>"
                            ><i
                                class="fa-solid text-success mx-2 fa-pen-to-square"
                            ></i
                        ></a>
                        <a class="ml-5" href="/user/delete/<%= el._id %>">
                            <i class="fa-solid text-danger fa-trash"></i>
                        </a>
                    </td>
                    <% }) %> <% } else { %>
                    <h2>No Records Found!</h2>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<%- include('./layout/footer') %>
